---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="es">

<head>
	<MainHead title="Página no encontrada" />
</head>

<body>
	<nav />
	<div class="wrapper mt4 mb4">
		<h1>Página no encontrada</h1>
		<p>Lo sentimos, no hemos encontrado la página que buscas 😢</p>
	</div>
	<footer />
</body>

</html>