---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="es">

<head>
	<MainHead title="Preguntas Frecuentes | Zarablob" description="About Jeanine White Lorem Ipsum" />
</head>

<body>
	<Nav />
	<div class="wrapper">
		<h1>Inscripción</h1>
		<iframe
			src="https://docs.google.com/forms/d/e/1FAIpQLSe7wRtfojYxhzwtXaGovZ0lzPIXnclO-EucgKyu2IM5bzz-mA/viewform?embedded=true"
			width="640" height="1917" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
	</div>
	<Footer />
</body>

</html>